*{
  font-family: 'Orbitron', sans-serif;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  display: none;
}
#symbol{
  display: inline-block;
  width: 10px;
}
body{
  background: url("../images/bg.jpg");
}
.container{
  max-width: 1070px;
  padding: 100px;
  margin: 0 auto;
}

.row{
  display: flex;
  margin: 0 -15px;
}

.col-6{
  width: 50%;
  padding: 30px 15px;
  background: black;
}

.title{
  color: yellow;
  font-weight: bold;
}

.input{
  width: 25%;
  background: aquamarine;
  border: none;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 20px;
}
.math-op{
  border: none;
  border-radius: 5px;
  width: 50px;
  padding: 5px;
  background: antiquewhite;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
}
.math-op:hover{
  background: yellow;
}
.history{
  padding: 10px 20px;
  width: 500px;
  height: 300px;
  background: aquamarine;
  color: orangered;
  font-weight: bold;
  border-radius: 3px;
  margin-bottom: 20px;
  overflow: auto;
}

.result-btn{
  border: none;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
  background: antiquewhite;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
}
.result-btn:hover{
  background: yellow;
}